* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color:whitesmoke;


}
nav {
    width: 70%;
    min-width: 600px;
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: auto;

}
nav a {
    position: relative;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: black;
    padding: 0 10px;
}
a::before {
    content: '';
    position: absolute;
    width: 0%;
    left: 0;
    height: 3px;
    background-color:darkolivegreen;
    bottom: -8px;
    transition: 0.25s;

}
a:hover {
    color: darkgrey;

}
a:hover::before {
    width: 100%;

}




*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 118px;
    
}
.card {
    width: 450px;
    background-color:whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;

}
.card img {
    width: 100%;
    height: auto;

}
.card-content {
    padding: 16px;

}
.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    

}
.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content.btn {
    display: inline-block;
    padding: 8px 16px;
    background: #800020;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #333;


}


